<div id="container">
  <%= render 'shared/hgroup' %>
  <div id="signup-form">
    <p class="text-success"><%= notice %></p>
    <p class="text-danger"><%= alert %></p>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :email, class: 'form-control', :placeholder => "Emailアドレス" %>
	  <br>
	  <%= f.text_field :password, class: 'form-control', type: "password", :placeholder => "パスワード" %>
	  <small class="text-center" style="display: block;"><%= link_to "パスワードをお忘れの場合", password_resets_new_path %></small>
	  <br>
      <%= f.submit "ログイン", class: "btn btn-default" %>
      <br><br>
    <% end %>
    <p><%= link_to ">>新規登録", "#", :'data-toggle' => "modal", :'data-target' => "#mondo_edit_modal" %></p>
  </div>
  <%= render 'shared/footer' %>
</div>

<!-- Modal -->
<div class="modal fade" id="mondo_edit_modal" role="dialog">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
    <%= form_for :user, url: root_path do |f| %>
      <div class="modal-header" style="text-align: center;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= "新規登録フォーム" %></h4>
      </div>
      <div class="modal-body">
        <div id="signup-form">
          <br>
          <%= f.text_field :name, class: 'form-control', placeholder: "お名前" %>
          <br>
          <%= f.text_field :email, class: 'form-control', placeholder: "Emailアドレス" %>
          <br>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <%= f.submit "新規登録", class: "btn btn-default" %>
        </div>
      <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
