<% provide(:title, "パスワード再設定") %>
<div id="container">
  <h3 class="text-muted"><%= "パスワードの再設定" %></h3>
    <p>以下のフォームより、新しいパスワードを設定してください。</p>
    <br>
    <p class="text-danger"><%= alert %></p>
  <div id="signup-form">
    <%= form_for :user, url: {controller: "password_resets", action: "update", hash_token: params[:hash_token]}, method: "patch" do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.password_field :password, class: 'form-control', placeholder: "お好きなパスワード" %>
      <br>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワードを再入力" %>
      <br>
      <%= f.submit "設定する", class: "btn btn-default" %>
    <% end %>
  </div>
</div>