<% provide(:title, "パスワード再設定") %>
<div id="container">
  <h3 class="text-muted"><%= "パスワードの再設定" %></h3>
  <p>ご登録のEメールアドレスを入力してください。<br>再設定用のURLを添付したメールを送信します。</p>
  <br>
  <p class="text-danger"><%= alert %></p>
  <div id="signup-form">
    <%= form_for :user, url: password_resets_path do |f|%>
      <%= f.text_field :email, class: 'form-control', placeholder: "Emailアドレス" %>
      <br>
      <%= f.submit "送信する", class: "btn btn-default"  %>
    <% end %>
  </div>
</div>