<div id="container">
  <%= render 'shared/hgroup5' %>
  <p class="text-danger"><%= alert %></p>
  <p class="text-success"><%= notice %></p>
  <div class="content_edit">
    <h1 class="text-muted"><%= "登録情報を変更する" %></h1>
    <hr>
    <p class="text-success"><%= notice %></p>
    <%= form_for :user, url: edit_update_path, method: "patch" do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "お名前" %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: "Emailアドレス" %>
      <br>
      <%= f.label :password %>
      <%= f.text_field :password, class: 'form-control', type: "password", placeholder: "お好きなパスワード" %>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: 'form-control', type: "password", placeholder: "パスワードを再入力" %>
      <br>
      <%= f.submit "変更を保存する", class: "btn btn-default" %>
      <br>
      <hr>
    <% end %>
  </div>
  <br>
  <div class="content_edit">
    <h1 class="text-danger"><%= "チャレンジをリセットする" %></h1>
    <hr>
    <p class="text-danger">
      「リセットする」ボタンを押すと、今までのチャレンジが全てリセットされ、<br>1日目の問答から再開となります。
    </p>
    <br>
    <%= link_to "リセットする", days_reset_path, method: "delete", class: "btn btn-danger", confirm: "本当にリセットしてよろしいですか？" %>
    <br>
    <hr>
  </div>
</div>