<% provide(:title, "本登録ページ") %>
<div id="container">
  <%= render 'shared/hgroup' %>
  <div id="signup-form">
    <div class="panel panel-warning" style="width: 350px; margin-left: auto; margin-right: auto;">
      <div class="panel-heading">
        <h3 class="panel-title">パスワードを設定して、<br>本登録を済ませてください。</h3>
      </div>
    </div>
    <%= form_for :full_signup, url: password_create_path do |f| %>
      <%= f.hidden_field :id, value: @user_id %>
      <%= f.text_field :password, class: 'form-control', type: "password", placeholder: "お好きなパスワード" %>
      <br>
      <%= f.text_field :password_confirmation, class: 'form-control', type: "password", placeholder: "パスワードを再入力" %>
      <br>
      <%= f.submit "登録する", class: "btn btn-default" %>
      <br><br>
    <% end %>
  </div>
</div>