<div id="container">
  <%= render 'shared/hgroup3' %>
  <p class="text-danger"><%= notice %></p>
  <% remaining_days = 30 - @passed_days %>
  <div id="content">    
    <span align="right" class="text-info" style="display: block;"><%= "チャレンジ達成まで、あと【#{remaining_days}日】" %></span>
    <% date = 1 %>
    <% while date <= 30 && date <= @passed_days do %>
      <a href="/days/<%= date %>" class="days_card">
        <div class="thumbnail">
          <span id="date"><%= "#{date}\s" %></span>
          <% find_record = Day.where(user_id: current_user.id, date: date).first %>
          <% if find_record.done == true %>
            <span class="glyphicon glyphicon-ok-circle text-success" style="font-size: 18px;"></span>
            <span class="text-success"><%= " done!" %></span>
          <% else %>
            <% q = 0 %>
            <% [:q1, :q2, :q3, :q4].each do |i| %>
              <% if find_record[i].present? %>
                <% q = q + 1 %>
              <% end %>
            <% end %>
            <span><%= "(#{q}/4)" %></span>
          <% end %>
          <% q_num = 1 %>
          <% [:q1, :q2, :q3, :q4].each do |ans| %>
            <% new_ans = find_record[ans].to_s %>
            <% if new_ans.length >= 13 %>
              <% new_ans = new_ans[0..12] %>
              <small title="<%= "#{find_record[ans].to_s}" %>"><%= "#{q_num}\s.\s" + "#{new_ans}" + "..." %></small>
            <% else %>
              <small title="<%= "#{find_record[ans].to_s}" %>"><%= "#{q_num}\s.\s" + "#{new_ans}" %></small>
            <% end %>
            <% q_num = q_num + 1 %>
          <% end %>
        </div>
      </a>
      <% date = date + 1 %>
    <% end %>
  </div>
</div>