<% provide(:title, "#{@date}日目の問答") %>
<div id="container">
  <%= render 'shared/hgroup4' %>
  <p class="text-danger"><%= alert %></p>
  <p class="text-success"><%= notice %></p>
  <% if @date == 30 %>
    <h1 id="big_date" style="background: url(/assets/mondo_complete_new.jpg);"><%= @date %></h1>
  <% else %>
    <h1 id="big_date"><%= @date %></h1>
  <% end %>
  <div id="content_post">
    <div>
      <%= link_to "問答する", "#", :'data-toggle' => "modal", :'data-target' => "#mondo_edit_modal", class: "btn btn-default" %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mondo_edit_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :answer, url: days_path do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{@date}日目の問答" %></h4>
      </div>
      <div class="modal-body">
      <%= image_tag 'takuetsu_direction.png', width: "400px", style: "display: block; margin: 15px auto 30px auto;" %>
      <%= f.hidden_field :date, value: @date %>
      <p><%= "Q1. " + QUESTIONS[:q1] %></p>
      <%= f.text_area :q1, class: 'form-control', placeholder: "答１" %>
      <br>
      <p><%= "Q2. " + QUESTIONS[:q2] %></p>
      <%= f.text_area :q2, class: 'form-control', placeholder: "答２" %>
      <br>
      <p><%= "Q3. " + QUESTIONS[:q3] %></p>
      <%= f.text_area :q3, class: 'form-control', placeholder: "答３" %>
      <br>
      <p><%= "Q4. " + QUESTIONS[:q4] %></p>
      <%= f.text_area :q4, class: 'form-control', placeholder: "答４" %>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <%= f.submit "答える", class: "btn btn-default", id: "mondo_answer" %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->