<% provide(:title, "#{@date}日目の問答") %>
<div id="container">
  <%= render 'shared/hgroup4' %>
  <% if @date == 30 %>
    <h1 id="big_date" style="background: url(/assets/mondo_complete_show.jpg) center center no-repeat;"><%= @date %></h1>
  <% else %>
    <h1 id="big_date"><%= @date %></h1>
  <% end %>
  <p class="text-success"><%= notice %></p>
  <p class="text-danger"><%= alert %></p>
  <div class="text-left thumbnail" style="width: 500px; margin: 0 auto; padding: 0 30px; font-size: 16px;">
    <% @answers.each do |answer| %>
    　<p class="text-muted"><%= "Q1. " + QUESTIONS[:q1] %></p>
      <p><%= "A1. #{answer.q1}" %></p><hr>
      <p class="text-muted"><%= "Q2. " + QUESTIONS[:q2] %></p>
      <p><%= "A2. #{answer.q2}" %></p><hr>
      <p class="text-muted"><%= "Q3. " + QUESTIONS[:q3] %></p>
      <p><%= "A3. #{answer.q3}" %></p><hr>
      <p class="text-muted"><%= "Q4. " + QUESTIONS[:q4] %></p>
      <p><%= "A4. #{answer.q4}" %></p>
    <% end %>
  </div>
  <p id="content_post">
    <% if @date == @passed_days %>
    <br>
    <%= link_to "問い直す", "#", :'data-toggle' => "modal", :'data-target' => "#mondo_edit_modal", class: "btn btn-default" %>
    <% end %>
  </p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mondo_edit_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :answer, url: days_path do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{@date}日目の問答" %></h4>
      </div>
      <div class="modal-body">
      <%= image_tag 'takuetsu_direction.png', width: "400px", style: "display: block; margin: 15px auto 30px auto;" %>
      <%= f.hidden_field :date, value: @date %>
      <p><%= "Q1. " + QUESTIONS[:q1] %></p>
      <%= f.text_area :q1, class: 'form-control', placeholder: "答１", value: @edit.q1 %>
      <br>
      <p><%= "Q2. " + QUESTIONS[:q2] %></p>
      <%= f.text_area :q2, class: 'form-control', placeholder: "答２", value: @edit.q2 %>
      <br>
      <p><%= "Q3. " + QUESTIONS[:q3] %></p>
      <%= f.text_area :q3, class: 'form-control', placeholder: "答３", value: @edit.q3 %>
      <br>
      <p><%= "Q4. " + QUESTIONS[:q4] %></p>
      <%= f.text_area :q4, class: 'form-control', placeholder: "答４", value: @edit.q4 %>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <%= f.submit "答える", class: "btn btn-default", id: "mondo_answer" %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->