<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "edit.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modal_error" %>  
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
</head>
<body>  

<%= yield %>
<script>
$(function() {
$('[placeholder]').ahPlaceholder({
	placeholderColor : 'silver',
	placeholderAttr : 'placeholder',
	likeApple : false
	});
});
</script>
</body>
</html>
